@use "font-variables" as *;
@use "sizes" as *;

.app-tile {
  padding: 48px;
  height: 100%;
  background-color: var(--neutral-100);
  border-radius: 20px;
  box-shadow: 0px 4px 20px -5px rgba(20, 20, 43, 0.15);

  display: flex;
  align-items: flex-start;
  gap: 28px;

  >img {
    border-radius: 20px;
  }

  >div {
    >h3 {
      padding-bottom: 12px;
      display: flex;

      >p {
        margin-left: auto;
      }
    }
  }
}

@media (max-width: $size-screen-lg) {
  .app-tile {
    flex-direction: column;
  }
}

@media (max-width: $size-screen-sm) {
  .app-tile {
    padding: 24px;
    gap: 16px;

    >img {
      border-radius: 12px;
    }
  }
}

:host {
  display: inline-block;
  width: 100%;
}