:root {
  --background: #ffffff;
  --bg-primary: #f1dedd;
  --bg-primary-contrast: #241f21;
  --bg-secondary: #f5f5f0;
  --bg-secondary-contrast: #241f21;
  --bg-tertiary: #241f21;
  --bg-tertiary-contrast: #ffffff;
  --button-disabled: #787375;
  --button-disabled-contrast: #ffffff;
  --button-disabled-hover: #787375;
  --button-disabled-hover-contrast: #ffffff;
  --button-primary: #f1dedd;
  --button-primary-contrast: #241f21;
  --button-primary-hover: #ffe482;
  --button-primary-hover-contrast: #241f21;
  --button-quaternary: #ffffff;
  --button-quaternary-contrast: #241f21;
  --button-quaternary-hover: #f5f5f0;
  --button-quaternary-hover-contrast: #241f21;
  --button-quinary: transparent;
  --button-quinary-contrast: inherit;
  --button-quinary-hover: transparent;
  --button-quinary-hover-contrast: #3d3d3d;
  --button-secondary: #241f21;
  --button-secondary-contrast: #ffffff;
  --button-secondary-hover: #3d3d3d;
  --button-secondary-hover-contrast: #ffffff;
  --button-senary: transparent;
  --button-senary-contrast: #918f90;
  --button-senary-hover: transparent;
  --button-senary-hover-contrast: #241f21;
  --button-tertiary: transparent;
  --button-tertiary-contrast: #241f21;
  --button-tertiary-hover: #241f21;
  --button-tertiary-hover-contrast: #ffffff;
  --graphic-primary: #f1dedd;
  --graphic-secondary: #241f21;
  --graphic-tertiary: #ffffff;
  --logo-primary: #241f21;
  --logo-secondary: #ffffff;
  --logo-tertiary: #241f21;
  --notification-action: #452447;
  --notification-action-contrast: #ffffff;
  --notification-disabled: #d3d2d3;
  --notification-disabled-contrast: #241f21;
  --notification-error: #fa3d45;
  --notification-error-contrast: #ffffff;
  --notification-info: #008cff;
  --notification-info-contrast: #ffffff;
  --notification-success: #0ad673;
  --notification-success-contrast: #ffffff;
  --notification-warning: #ff9100;
  --notification-warning-contrast: #ffffff;
  --text-disabled: #241f21;
  --text-link: #008cff;
  --text-notification: #ffffff;
  --text-primary: #241f21;
  --text-primary-hover: #3d3d3d;
  --text-secondary: #241f21;
  --text-secondary-hover: #3d3d3d;
  --text-tertiary: #241f21;
  --text-tertiary-hover: #3d3d3d;

  --neutral-800: #14142b;
  --neutral-700: #4e4b66;
  --neutral-600: #777990;
  --neutral-500: #b2b4c4;
  --neutral-400: #d9dbe9;
  --neutral-300: #eff0f6;
  --neutral-200: #f6f7ff;
  --neutral-100: white;
}
