h1 {
  @include heading($font-size-68);
}

h2 {
  @include heading($font-size-42);
}

h3 {
  @include heading($font-size-24);
}

h4 {
  @include heading($font-size-20);
}

p {
  color: var(--neutral-600);
  font-size: $font-size-18;
  line-height: 1.77em;
  font-weight: 500;
}
