@use "font-variables" as *;
@use "sizes" as *;

.app-hero {
  padding-top: 70px;
  display: flex;
  gap: $size-px-24;
  align-items: center;
  justify-content: space-between;

  >article {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: $size-px-20;

    >span {
      color: var(--neutral-700);
      font-weight: $font-bold;
    }

    >h1 {
      >span {
        position: relative;
        z-index: 1;
      }

      >i {
        position: relative;
        display: block;
        width: 100%;

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: -50px;
          width: 80%;
          height: 44px;
          border-top: 20px solid #EBF8FF;
          border-radius: 50% 50% 0 0 / 100% 100% 0 0;
          transform: scaleX(1) scaleY(0.7) translateY(44px);
        }
      }

      @media (max-width: $size-screen-md) {
        >i {
          &::before {
            left: 0;
            transform: scaleX(1) scaleY(0.7) translateY(44px) translateX(10%);
          }
        }
      }
    }

    >app-button {
      padding-top: $size-px-40;
    }
  }

  >figure {
    flex: 1;
    display: flex;
    justify-content: center;

    >div {
      // Wrapper to control size and shape
      width: 350px;
      height: 350px;
      border-radius: 50%;
      overflow: hidden;
      background: linear-gradient(135deg, #e8e3ff 0%, #d4f0ff 100%);

      >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @media (max-width: $size-screen-md) {
    text-align: center;
    flex-direction: column;
    padding-top: 40px;

    >article {
      >app-button {
        width: 100%;
        padding-top: $size-px-24;
      }
    }
  }

  @media (max-width: $size-screen-sm) {
    padding-top: 24px;
    gap: $size-px-20;

    >article {
      gap: 16px;

      >h1 {
        >i {
          &::before {
            height: 32px;
            border-top: 16px solid #EBF8FF;
            transform: scaleX(1) scaleY(0.7) translateY(32px) translateX(10%);
          }
        }
      }
    }
  }
}