@import "sizes";

.app-services {
  display: flex;
  flex-direction: column;
  align-items: center;

  >h2,
  >p {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 16px;
  }

  >p {
    padding-bottom: 40px;
  }

  >app-button {
    padding-top: 48px;
  }
}
