@use "sizes" as *;

.app-tile-grid {
  padding: 40px;
  position: relative;
  z-index: 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);

  gap: 40px;

  &::before {
    content: '';
    background-color: #f6f7ff;
    position: absolute;
    width: 70%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
  }

  >app-tile {
    opacity: 0;
    transition: opacity 1s ease-in;

    &.in-view {
      opacity: 1;
    }
  }
}