<div class="grid-container">
    <div class="row">
        <div class="col-xs-12">
            <section class="app-about">
                <div>
                    <figure>
                        <img width="610" height="400" src="assets/images/about-working.jpg" alt="Maria Junqueira"
                            loading="eager">
                    </figure>
                    <article>
                        <h1>{{ 'about::hero::heading' | translate }}</h1>
                        <p>{{ 'about::hero::introduction' | translate }}</p>
                    </article>
                </div>

                <div>
                    <article>
                        <h2>{{ 'about::story::heading' | translate }}</h2>
                        <p>{{ 'about::story::description' | translate }}</p>
                    </article>
                    <figure>
                        <img width="300" height="300" src="assets/images/about-story.jpg" alt="Coding on laptop"
                            loading="lazy">
                    </figure>
                </div>

                <div>
                    <article>
                        <h3>{{ 'about::timeline::heading' | translate }}</h3>
                        <p>{{ 'about::timeline::description' | translate }}</p>
                        <ul>
                            <li>{{ 'about::timeline::item1' | translate }}</li>
                            <li>{{ 'about::timeline::item2' | translate }}</li>
                            <li>{{ 'about::timeline::item3' | translate }}</li>
                        </ul>
                    </article>
                    <figure>
                        <img width="610" height="600" src="assets/images/about-couch.jpg" alt="Creative workspace"
                            loading="lazy">
                    </figure>
                </div>
            </section>
        </div>
    </div>
</div>