@if(items.length) {
<app-carousel [items]="items" [heading]="'home::portfolio::heading' | translate">
</app-carousel>
}
<!-- <section class="app-portfolio">
  <h2>{{ 'home::portfolio::heading' | translate }}</h2>

  <div class="app-portfolio-item">
    <h3>{{ 'home::portfolio::projects::todoListRedesign::title' | translate }}</h3>
    <p>{{ 'home::portfolio::projects::todoListRedesign::description' | translate }}</p>
    <a href="#">
      {{ 'home::portfolio::projects::todoListRedesign::cta' | translate }}
    </a>
  </div>

  <div class="app-portfolio-item">
    <h3>{{ 'home::portfolio::projects::analyticsDashboardDesign::title' | translate }}</h3>
    <p>{{ 'home::portfolio::projects::analyticsDashboardDesign::description' | translate }}</p>
    <a href="#">{{ 'home::portfolio::projects::analyticsDashboardDesign::cta' | translate }}</a>
  </div>
</section> -->