@import "sizes";

.app-resume {
  >article {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
  }

  @media (max-width: $size-screen-md) {
    >article {
      flex-direction: column;

      >h2 {
        padding-bottom: 24px;
      }

      >app-button {
        width: 100%;
      }
    }
  }
}
